<%= form_for(@pin, html: {multipart:true}) do |f| %>

  <!-- Displays error if needed -->
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Checkbox, auto decides whether to be showcasing checked or not thanks to rails -->
  <!-- This code also does if check to see if user can update checkbox or not -->
  <div class="form-group">
    <%= f.label "Completed:" %>
    <% if user_signed_in? %>
      <% if @pin.user_id == current_user.id %>
        <%= f.check_box :completed, :disabled => false %>
      <% else %>
        <%= f.check_box :completed, :disabled => true %>
      <% end %>
    <% else %>
      <%= f.check_box :completed, :disabled => true %>
    <% end %>
  </div>

  <!-- Showcase save button depending on if it's that users goal -->
  <% if user_signed_in? %>
    <% if @pin.user_id == current_user.id %>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>