<%= render 'pages/home' =%>


<div id="pins" class="transitions-enabled">


  
    <% @pins.each do |pin| %>






      <div class="box panel panel-default">

        <div class="panel-body">
          <%= link_to content_tag(pin.description), pin %>
          <p><%= pin.description %></p>
          <p><strong><%= pin.user.name if pin.user %></strong>
         <% if pin.user != current_user %>
<<<<<<< HEAD
         <p> <%= link_to "View", pin %></p>
=======
         <p> <%= link_to "Show", pin %></p>
>>>>>>> b41cd35f7dde46255532d0a5ac1d44e47a49a01d
         <% end %>

          <% if pin.user == current_user %>

             <div class="actions">
<<<<<<< HEAD
              <%= link_to "View", pin %>
=======
              <%= link_to "Show", pin %>
>>>>>>> b41cd35f7dde46255532d0a5ac1d44e47a49a01d

                <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
                <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </div>
          <% end %>
        
        </div>
      </div>
    <% end %>
  </div>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
