<!-- <li><%= link_to "Profile", current_user %></li> -->
<%= render 'pages/home' =%>


<div id="pins" class="transitions-enabled">


  
    <% @pins.each do |pin| %>
      
        <div class="box panel panel-default"> 

        <%= link_to(pin) do %>
          <div class="panel-body">
            
            
            <!-- used to not allow titles and was just descriptions -->
          <% if pin.title.nil? %>
            <p><%= pin.description %></p>
          <% else %>
            <p><%= pin.title %></p>

          <% end %>
          <p><strong><%= pin.user.name if pin.user %></strong>
         <% if pin.user != current_user %>

         



         <% end %>
          
            
           

            
          </div><!-- end div panel-body -->
        
        
        </div><!-- end div box panel panel-default -->
        <% end %>
   
  <% end %>
</div><!-- end main div -->

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>



