<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">

				<!-- Some users didn't enter at start -->
				<% if @pin.title.nil? %>
					Goal

				<% else %>
					<%= @pin.title %>
				<% end %>
			</div>
			<div class="panel-body">

				<p>
				  <strong>Description:</strong>
				  <%= @pin.description %>
				  
				  <p><strong> By: </strong> <%= @pin.user.name if @pin.user %></p>
				</p>

				<p><strong>Created:</strong> <%= @pin.created_at.strftime("%b %d, %Y") %></p>

				<!-- 
				<% if @pin_user == current_user %>
					 <%= link_to edit_pin_path(@pin) do %>
        			<span class="glyphicon glyphicon-edit"></span>
       					 Edit
      				<% end %>
				<% end %>
			-->
			</div>
		</div>
	<div>
		Check Marks for crossing off days coming soon! Example below:
		<%= form_for(@pin) do |f| %>
			<div class="panel panel-default">
				
				<div class="panel-body">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    	<%= @checkmarks.checkmark %>
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    2
					  </label>
					</div>
				</div>
			</div>
		<% end %>		
</div>

